<div class="cont-feed">
  <% for( let index = 0; index < posts.length; index++ ) { %> <% let userName =
  ""; let profilePic = ""; for( let i = 0; i < users.length; i++ ) { %> <% if
  (users[i].user_id == posts[index].user_id) { userName = users[i].user_name;
  profilePic = users[i].profile_pic} %> <% } %>
  <div class="toggleModal">
    <div>
      <a href="/users/<%=posts[index].user_id%>">
        <div class="feed-top">
          <img
            class="small_profile_pic"
            src="<%= profilePic.slice(6) %>"
            alt=""
          />
          <span class="userName"><%= userName %></span>
        </div>
      </a>
      <img
        class="post_pic"
        src="<%= posts[index].path.slice(6) %>"
        alt="<%= posts[index].alt_text%>"
      />
    </div>
    <div class="post-text first feed">
      <p>
        <span class="userName"><%= userName %></span> <%=
        posts[index].description %>
      </p>
      <div class="likes-comments-box">
        <% const postDate = posts[index].post_created; const options = { year:
        "numeric", month: "long", day: "numeric", hour: "numeric", minute:
        "numeric" }; let formattedDate = postDate.toLocaleString("en-US",
        options); posts[index].post_created = formattedDate; %>

        <p>
          <i
            class="fa-<%=posts[index].liked_by_current_user ? 'solid' : 'regular' %> fa-heart like-icon"
            data-postid="<%= posts[index].post_id %>"
          ></i>
          <span class="likes"><%= posts[index].likes %> </span>
        </p>

        <p>
          <i class="fa-regular fa-comment"></i>
          <span class="comm_count" id="comm_count-<%=posts[index].post_id%>"
            ><%= posts[index].comment_count %>
          </span>
        </p>
      </div>
      <p class="small-text"><%= formattedDate%></p>
    </div>
  </div>
  <%- include(`../partials/post-modal`, {index: index}) %> <% } %>
</div>
