<% if (posts.length == 0 && user.user_id != currentUser_id) { %>
<h3 class="no-posts">
  This user has no posts yet <br /><br />
  <i class="fa-solid fa-ghost"></i>
</h3>
<% } %>
<div class="cont-posts">
  <%if (user) {if (currentUser_id == user.user_id) {%>
  <a class="plus" href="/posts/new">
    <i class="fa-regular fa-plus"></i>
  </a>
  <% }} %> <% for( let index = 0; index < posts.length; index++ ) { %>

  <div class="toggleModal">
    <img
      class="post_pic"
      src="<%= posts[index].path.slice(6) %>"
      alt="<%= posts[index].alt_text%>"
    />
    <div class="overlay">
      <p>
        <i class="fa-solid fa-heart"></i>
        <span class="hover-likes"> <%= posts[index].likes %></span>
      </p>
      <p>
        <i class="fa-solid fa-comment"></i>
        <span class="hover-comms"> <%= posts[index].comment_count %></span>
      </p>
    </div>
  </div>
  <%- include(`../partials/post-modal`, {index: index}) %> <% } %>
</div>