
<div class="user cont">
  <img
    class="profile_pic"
    src="<%= user.profile_pic.slice(6) %>"
    alt=""
  />
  <div class="user-info">
    <div class="horizontal-flex">
        <h1><%= user.user_name %></h1>
        <% if (currentUser_id == user.user_id) {%>
        <a class="button" href="/users/<%= user.user_id %>/edit">Edit</a>
        <% } %>
    </div>


    <div class="horizontal-grid-3">
      <div>
        <p>Posts:</p>
        <h3> <%= posts.length %></h3>
      </div>
      <div>
        <p>Followers:</p>
        <h3> 0</h3>
      </div>
      <div>
        <p>Following:</p>
        <h3> 0</h3>
      </div>
    </div>
    <div>
    <div class="horizontal-flex">
      <p class="userName"><%= user.user_fullName %> </p>
      <p ><%= user.pronouns %> </p>
    </div>
    <p><%= user.user_age %> yo</p>
    <p class="bio"><%= user.user_bio %></p>
    </div>
  </div>
</div>

<%- include(`../partials/${partial}`) %>
