<form
  class="userEdit"
  action="/users/<%=user.user_id %>/edit"
  method="post"
  enctype="multipart/form-data"
>
  <div class="editGrid">
    <div class="col-1">
      <div class="field">
        <label for="user_name">Username</label>
        <input
          class="check-edit"
          type="text"
          name="user_name"
          id="user_name"
          value="<%= user.user_name || '' %>"
        />
      </div>
      <div class="field">
        <label for="email">Email</label>
        <input
          class="check-edit"
          type="email"
          name="email"
          id="email"
          value="<%= user.email || '' %>"
        />
      </div>
      <div class="field">
        <label for="user_fullName">Name</label>
        <input
          type="text"
          name="user_fullName"
          id="user_fullName"
          value="<%= user.user_fullName || '' %>"
        />
      </div>
      <div class="field">
        <label for="user_age">Age</label>
        <input
          type="number"
          min="16"
          max="120"
          name="user_age"
          id="user_age"
          value="<%= user.user_age || '' %>"
        />
      </div>
      <div class="field">
        <label for="pronouns">Pronouns</label>
        <input
          type="text"
          name="pronouns"
          id="pronouns"
          value="<%= user.pronouns || '' %>"
        />
      </div>
    </div>
    <div class="col-1">
      <div class="field">
        <label for="user_bio">Bio</label>
        <textarea name="user_bio" id="user_bio">
<%= user.user_bio ? user.user_bio.trim() : '' %>
    </textarea
        >
      </div>
      <div class="field">
        <input
          type="file"
          name="profile_pic"
          id="profile_pic"
          accept="image/jpeg, image/png"
        />
        <label for="profile_pic">
          <p>Profile Picture</p>
          <p class="upload">
            <i class="fa-solid fa-file-arrow-up"></i>
            <span id="fileName"></span>
          </p>
        </label>
      </div>
    </div>
  </div>
  <div class="col-b">
    <div class="error-empty"></div>
    <button class="cta-button">Save</button>
    <a class="sec-button" href="/users/<%= user.user_id %>">Cancel</a>
  </div>
</form>

